.hero {
  position: relative;
  height: 70vh;
  color: white;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  bottom: 30%;
  left: 4%;
  max-width: 600px;
}
.hero-title {
  font-size: 3rem; margin-bottom: 0.5rem;
}
.hero-desc {
  font-size: 1.1rem; width: 75%; margin-bottom: 1rem;
}
.hero-btns .btn {
  cursor: pointer;
  margin-right: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.2rem;
}
.btn.play {
  background: white; color: black;
}
.btn.info {
  background: rgba(109,109,110,0.7); color: white;
}
.hero-fadeBottom {
  position: absolute;
  bottom: 0; width: 100%; height: 8rem;
  background: linear-gradient(180deg, transparent, #111);
}
