* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem 1rem 4rem;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  border-top: 1px solid #222;
  color: #777;
  user-select: none;
}
